<div class="employee-details">
    <p><strong>Name:</strong> {{ employee.name }}</p>
    <p [ngClass]="{'leader-style': employee.position === 'Leader', 'member-style': employee.position === 'Member'}"><strong>Position:</strong> {{ employee.position }}</p>
    <p><strong>ID:</strong> {{ employee.id }}</p>
    <p><strong>Phone:</strong> {{ employee.phone }}</p>
    <p><strong>Email:</strong> {{ employee.email }}</p>
    <p><strong>Team Position:</strong> {{ employee.teamPosition }}</p>
  </div>
  